<div class="body1">

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">



    <div class="login">
      <form [formGroup]="form">
        <label for="chk" aria-hidden="true">Register</label>
        <input type="text" formControlName="firstName" name="pswd" placeholder="First name" required="">
        <input type="text" formControlName="lastName" name="pswd" placeholder="Last name" required="">
        <input type="text" formControlName="username" name="pswd" placeholder="username" required="">
        <input type="email" formControlName="email" name="email" placeholder="Email" required="">
        <input type="password" formControlName="password" name="pswd" placeholder="Password" required="">
        <button (click)="logIn()">Login</button>




        <a [routerLink]="['/login']">	<h6 id="myHeading">You already have account Log In </h6></a>
      </form>
    </div>
  </div>
</div>

