<section class="courses">

  <h1 class="heading">our courses</h1>

  <div class="box-container">

    <div class="box">
      <div class="tutor">
        <img src="/assets/images/girl.jpg" alt="">
        <div class="info">
          <h3>Sarah deo</h3>
          <span>21-10-2022</span>
        </div>
      </div>
      <div class="thumb">
        <img src="/assets/images/css.png" alt="">
        <span>10 videos</span>
      </div>
      <h3 class="title">complete CSS tutorial</h3>


      <a [routerLink]="['/Playlist']" class="inline-btn">view playlist</a>
    </div>

    <div class="box">
      <div class="tutor">
        <img src="/assets/images/man.jpg" alt="">
        <div class="info">
          <h3>john deo</h3>
          <span>21-10-2022</span>
        </div>
      </div>
      <div class="thumb">
        <img src="/assets/images/react.png" alt="">
        <span>10 videos</span>
      </div>
      <h3 class="title">complete CSS tutorial</h3>
      <a routerLink="/Playlist" class="inline-btn">view playlist</a>
    </div>


    <div class="box-container">

      <div class="box">
        <div class="tutor">
          <img src="/assets/images/girl.jpg" alt="">
          <div class="info">
            <h3>Sarah deo</h3>
            <span>21-10-2022</span>
          </div>
        </div>
        <div class="thumb">
          <img src="/assets/images/css.png" alt="">
          <span>10 videos</span>
        </div>
        <h3 class="title">complete CSS tutorial</h3>
        <a routerLink="/Playlist" class="inline-btn">view playlist</a>
      </div>



    </div>

    <div class="box-container">

      <div class="box">
        <div class="tutor">
          <img src="/assets/images/girl.jpg" alt="">
          <div class="info">
            <h3>Sarah deo</h3>
            <span>21-10-2022</span>
          </div>
        </div>
        <div class="thumb">
          <img src="/assets/images/css.png" alt="">
          <span>10 videos</span>
        </div>
        <h3 class="title">complete CSS tutorial</h3>
        <a routerLink="/Playlist" class="inline-btn">view playlist</a>
      </div>

    </div>

</div>

</section>
