<div class="formbold-main-wrapper">

  <div class="formbold-form-wrapper">
    <form [formGroup]="form">
      <div class="formbold-mb-5">
        <label  class="formbold-form-label">Course Name</label>

          <input formControlName="name"  class="formbold-form-input">
      </div>
      <div class="formbold-mb-5">
        <label  class="formbold-form-label">Teacher Name</label>

        <input formControlName="teacher"  class="formbold-form-input">
      </div>
      <div class="formbold-mb-5">
        <label  class="formbold-form-label">Course Number</label>

        <input formControlName="number" class="formbold-form-input">
      </div>
      <div class="formbold-mb-5">
        <label  class="formbold-form-label">Level</label>

        <input formControlName="level" class="formbold-form-input">
      </div>



      <div class="mb-6 pt-4">
        <label class="formbold-form-label formbold-form-label-2">Upload Course Inage</label>

        <div class="formbold-mb-5 formbold-file-input">
          <input accept="image/*" class="w-25 h-25 bg-primary" (change)="onAttachmentDoc($event,'courseImage')" formControlName="courseImage" type="file" name="file" id="file" />
          <label for="file">
            <div>
              <span class="formbold-drop-file"> Drop files here </span>
              <span class="formbold-or"> Or </span>
              <span class="formbold-browse"> Browse </span>
            </div>
          </label>
        </div>




      </div>

      <div>
        <button (click)="save()" class="formbold-btn w-full">Save</button>
      </div>
    </form>
  </div>
</div>
